header  {
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}


header f {
   color: #000000;
}


body {
    background-image: url("download.jpg");
    border: 5px solid #000000;
}

img {
    border: 2px solid #000000;
}

