header  {
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}


header f {
   color: black;
}


body {
    background-image: url("download.jpg");
}
